h2 {
    font-size: x-large;
    font-weight: 700;
}

.rocket {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}

.text {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2rem auto;
}

.rocket img {
    width: 250px;
    margin: 2rem;
}

button {
    text-align: left;
    padding: 0.5rem;
    color: #ffffff;
    width: 160px;
    margin: 10px 0;
    border: solid 1px;
}

button:active {
    background-color: transparent;
    border: solid 1px gray;
    color: gray;
}

.reserve {
    display: none;
}

.reserved {
    display: inline-block;
    background-color: #09a7b9;
    color: #fff;
    padding: 0.2rem;
    border-radius: 10%;
    margin-right: 0.5rem;
}